body{
    background-image: url("../images/images.jpg");
    background-size: cover;
}
 
  .col-sm-8{
    height: 700px;
    margin: auto;
    padding-top: 10%;
    padding-right:20%;
    padding-left : 20%;
    padding-bottom: 5%;
   
   }

   .col-sm-3{
 
    padding: 10%;
    
    
   }
   .imageButtons{
    width: 100%;
padding-left:10%
   }
   h1{
    font-size: 36px;
     text-align: center;
     color:black;

   } 